extends layout

block content
  div(class='bots')
  p Welcome to
    h1= title
    ul 
      li Gendo Ikari
      li Ayanami Rei
      li Third bot
      li OpenChatAI
  
  div(class='bots__descriptions')
    div(class='bot_one_description')
      h3 First Bot
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam a iusto labore aspernatur ipsum culpa maxime ab soluta explicabo. Harum quibusdam ipsam error distinctio similique quo quia nobis ab animi.
    div(class='bot_one_description')
      h3 Second Bot
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum reprehenderit, rerum doloremque maiores provident sunt magnam voluptatibus et odio culpa aut eos maxime consequatur minima rem? Dolorum iste voluptate aliquam.
    div(class='bot_one_description')
      h3 Third Bot
      p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis, sequi natus minima voluptate id, numquam obcaecati maiores odio quia quo voluptates voluptas officiis minus animi perferendis rerum iure tempora et.
    div(class='bot_one_description')
      h3 Fourth Bot
      p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam dolor nihil molestiae corrupti, quae ratione aliquam accusamus vero? Autem ipsa odio qui animi quis fugit adipisci at eius sequi atque?
      
